fastapi==0.110.0
uvicorn==0.29.0
python-dotenv==1.0.1
cryptography==42.0.5
cryptograpy==0.0.0
sqlmodel==0.0.16
pymysql==1.1.0
python-multipart==0.0.9
python-jose[cryptograpy]==3.3.0
passlib[bcrypt]==1.7.4
email-validator==2.1.1